@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: 'Lora', serif;
  --font-sans: 'Work Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);

  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }

  p {
    font-family: 'Work Sans', sans-serif;
  }
}
